In [1]:
def go_straight(speed):
    send = f'MoveTank {speed} {speed}'
    return send

In [2]:
go_straight(10)

'MoveTank 10 10'

In [3]:
data = 'MoveTank 10 10'

In [4]:
split = data.find(' ')

In [5]:
split

8

In [6]:
data[:split]

'MoveTank'

In [5]:
4 % 2 == 0

True

In [18]:
import pandas as pd

In [19]:
colnames = [
    "time",
    "eng.isActive","eng",
    "exc.isActive","exc","lex",
    "str.isActive","str",
    "rel.isActive","rel",
    "int.isActive","int",
    "foc.isActive","foc"
]

In [20]:
df = pd.DataFrame(columns= colnames)

In [6]:
df

Empty DataFrame
Columns: [time, eng.isActive, eng, exc.isActive, exc, lex, str.isActive, str, rel.isActive, rel, int.isActive, int, foc.isActive, foc]
Index: []

In [21]:
dat = {'met': [True, 0.580714, True, 0.457536, 0.0, True, 0.348214, True, 0.334115, True, 0.532141, True, 0.353859], 'time': 1635542043.1934}

In [22]:
dat_unpacked = [dat["time"]] + dat["met"]

In [23]:
print(dat_unpacked)

[1635542043.1934, True, 0.580714, True, 0.457536, 0.0, True, 0.348214, True, 0.334115, True, 0.532141, True, 0.353859]

In [25]:
df.loc[len(df.index)] = 1 # dat_unpacked

In [26]:
display(df)

,time,eng.isActive,eng,exc.isActive,exc,lex,str.isActive,str,rel.isActive,rel,int.isActive,int,foc.isActive,foc
0,1.635542e+09,True,0.580714,True,0.457536,0.0,True,0.348214,True,0.334115,True,0.532141,True,0.353859
1,1.000000e+00,1,1.000000,1,1.000000,1.0,1,1.000000,1,1.000000,1,1.000000,1,1.000000

In [28]:
n = len(df)
print(n)

2

In [29]:
a,b = df['rel'][n-2:]

In [30]:
print(a)
print(b)

0.334115
1.0

In [59]:
n = 6
k = 3

value = sum(df['eng'][n-k:n])

In [60]:
value

1.161428

In [65]:
list(df['eng'][n-k:n])

[0.0, 0.580714, 0.580714]

In [74]:
df.loc[0:1,:]

,time,eng.isActive,eng,exc.isActive,exc,lex,str.isActive,str,rel.isActive,rel,int.isActive,int,foc.isActive,foc
0,1.635542e+09,True,0.580714,True,0.457536,0.0,True,0.348214,True,0.334115,True,0.532141,True,0.353859
1,1.635542e+09,True,0.580714,True,0.457536,0.0,True,0.348214,True,0.334115,True,0.532141,True,0.353859

In [23]:
df['rel']

0    0.334115
1    0.334115
2    0.334115
3    0.000000
4    0.334115
Name: rel, dtype: float64

In [36]:
df['rel'][2:4]

2    0.334115
3    0.000000
Name: rel, dtype: float64

In [37]:
a,b = df['rel'][2:4]

In [38]:
b

0.0

In [39]:
a

0.334115

In [20]:
test

[0.334115, 0.0, 0.334115]

In [40]:
len(df)

5

In [41]:
n = 4

In [43]:
df

,time,eng.isActive,eng,exc.isActive,exc,lex,str.isActive,str,rel.isActive,rel,int.isActive,int,foc.isActive,foc
0,1.635542e+09,True,0.580714,True,0.457536,0.0,True,0.348214,True,0.334115,True,0.532141,True,0.353859
1,1.635542e+09,True,0.580714,True,0.457536,0.0,True,0.348214,True,0.334115,True,0.532141,True,0.353859
2,1.635542e+09,True,0.580714,True,0.457536,0.0,True,0.348214,True,0.334115,True,0.532141,True,0.353859
3,0.000000e+00,0,0.000000,0,0.000000,0.0,0,0.000000,0,0.000000,0,0.000000,0,0.000000
4,1.635542e+09,True,0.580714,True,0.457536,0.0,True,0.348214,True,0.334115,True,0.532141,True,0.353859

In [44]:
df['rel'][n-1:]

3    0.000000
4    0.334115
Name: rel, dtype: float64

In [51]:
txt = "apple"

In [52]:
test = f'I like {txt} and '

In [53]:
test

'I like apple and '

In [54]:
txt = 'pizza'

In [55]:
test += f'{txt}'

In [56]:
test

'I like apple and pizza'

In [7]:
test_string = '{"met": [True, 0.520697, True, 0.261728, 0.0, True, 0.341181, True, 0.382637, True, 0.48243, True, 0.334151], "time": 1635648038.0461}'

In [8]:
test_string

'{"met": [True, 0.520697, True, 0.261728, 0.0, True, 0.341181, True, 0.382637, True, 0.48243, True, 0.334151], "time": 1635648038.0461}'

In [5]:
import json

In [10]:
eval(test_string)

{'met': [True,
  0.520697,
  True,
  0.261728,
  0.0,
  True,
  0.341181,
  True,
  0.382637,
  True,
  0.48243,
  True,
  0.334151],
 'time': 1635648038.0461}

In [11]:
import ast

result = ast.literal_eval("{'a': 1, 'b': 2}")
assert type(result) is dict

In [14]:
test = ast.literal_eval(test_string)
print(test)

{'met': [True, 0.520697, True, 0.261728, 0.0, True, 0.341181, True, 0.382637, True, 0.48243, True, 0.334151], 'time': 1635648038.0461}

In [15]:
test_unpack = [test["time"]] + test["met"]

In [16]:
test_unpack

[1635648038.0461,
 True,
 0.520697,
 True,
 0.261728,
 0.0,
 True,
 0.341181,
 True,
 0.382637,
 True,
 0.48243,
 True,
 0.334151]